@import "tailwindcss";

:root {
  --background-black: #000000;
  --background-black2: #131313;
  --logo-color : #80466e;
}

html, body{
  color: aliceblue;
  overflow-x: hidden;
  scroll-behavior: smooth;
}