.footer{
    width: 100%;
    background-image: linear-gradient(to right, #512f5c, #ed9e6f, #b66570); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
}

.footer h1{
    font-size: 18px;
    line-height: 32px;
    color: black;
}

@media (max-width: 430px) and (min-width: 320px) {
    .footer{
    display: flex;
    justify-content: center;
    }

    .footer h1{
        font-size: 16px;
        line-height: 28px;
    }
}
